<h1>Batman versus Superman</h1>
<p>¿Quién ganara el Desafío Latma?</p>

 <div>
 		<button type="submit"> Batman </button>
 		<p><img src="https://upload.wikimedia.org/wikipedia/en/1/17/Batman-BenAffleck.jpg"></p>
	
 		<button type="submit"> Superman </button>
 		<p><img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ea/Superman_shield.svg/1280px-Superman_shield.svg.png"></p>
 	 
</div>


